body {
    width: 240px;
    height: fit-content;
    background: white;
    padding: 15px;
}

.text {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.menu-item{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 10px;

    img{
        margin-right: 15px;
    }

    a{
        text-decoration: none;
    }
}

.menu-item:hover{
    background: #e5e5e5;
}

