body {
    width: 240px;
    height: fit-content;
    background: white;
    padding: 15px;
}

.text {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.plain {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 10px;
    text-decoration: none;

    svg {
        margin-right: 15px;
        height: 20px;
        width: 20px;
    }

    a {
        text-decoration: none;
    }
}

.menu-item:hover, .list-item:hover {
    background: #e5e5e5;
}


.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.back {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #808080;
    text-decoration: none;
}

.mini {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.title-wrap{
    display: flex;
    margin: 10px 0 7px;
}

.overflow{
    max-height: 130px;
    overflow-y: scroll;
}

.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    padding: 10px 7px;
    margin-right: 10px;
    border-radius: 10px;
}


::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e5e5e5; 
    border-radius: 3px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #808080; 
      border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .scan-txt{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }

  .good{
      color: #5AAB61;
  }

  .bad{
      color: #D5212E;
  }

  .yes-btn{
    background: #D5212E;
    border-radius: 10px;
    width: 45%;
    padding: 12px 0;
    border: none;
    cursor: pointer;
  }

  .no-btn{
    background: #5AAB61;
    border-radius: 10px;
    width: 45%;
    padding: 12px 0;
    border: none;
    cursor: pointer;
  }

  .btn-txt{
    font-weight: 800;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
  }

  .result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#loading {
    position: relative;
    margin: auto;
    width: 100px;
    height: 50px;
  }
  #loading:before , #loading:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3B63A0;
    box-shadow: 20px 0 #3B63A0;
    left: 0;
    top: 0;
    animation: ballMoveX 0.8s linear infinite;
  }
  #loading:after {
    box-shadow: none;
    transform-origin: 40px 0;
    transform: rotate(-153deg);
    animation: rotateLoader 0.8s linear infinite;
  }

  @keyframes rotateLoader {
    0% , 10%{ transform: rotate(-153deg); }
    90%, 100% { transform: rotate(0deg); }
  }
  @keyframes ballMoveX {
    0% , 10%{  transform: translateX(0) }
    90%, 100% { transform: translateX(20px) }
  }
      